// _c-scrollModal-newAdmin-Modal-add-full.jade
// data-backdrop='static' 無法在半透黑區塊點按關閉。
// data-keyboard='false' 無法直接使用鍵盤 ESC 關閉。
#scrollableModal-newAdmin-Modal-add-full.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  // .modal-dialog-scrollable 過長 Y 軸 / .modal-dialog-centered 居中
  .modal-dialog.modal-dialog-scrollable.modal-dialog-centered
    .modal-content
      .modal-header.d-flex.align-items-center
        h3.u-fontSize-l.text-Lato-Bold.mb-0 New Admin
        a.material-icons.text-black.text-decoration-none(href="#", data-dismiss='modal', aria-label='Close')
          | clear
      .modal-body.pt-0
        form
          h4.u-fontSize-m.text-Lato-Bold 
            | Account
          .form-group
            label.u-fontSize-s.mb-1(for='newAdminUserName') Name
            input#newAdminUserName.form-control.form-control-lg(type='text')
          .form-group
            label.u-fontSize-s.mb-1(for='newAdminInputEmail') Email
            input#newAdminInputEmail.form-control.form-control-lg(type='email')
          hr.border-primaryLightDull.my-6
          h4.u-fontSize-m.text-Lato-Bold 
            | Verification
          p.d-flex.align-items-center
            span.material-icons.text-danger.mr-2 
              | warning
            span
              | unverified
            //- span.ml-auto
            //-   | 2020/4/12
          a.btn.btn-outline-primaryLightDull.btn-lg.btn-block.py-3(href="#")
            span.text-primary
              | Send Verification Mail
          hr.border-primaryLightDull.my-6
          h4.u-fontSize-m.text-Lato-Bold.mb-4
            | Access Level
          label.mr-sm-2.sr-only(for='AccessLevelSelect') Preference
          select#AccessLevelSelect.custom-select.custom-select-lg(required)
            option(value='', disabled, selected) -Choose access level-
            option(value='Admin') Admin
            option(value='Editor') Editor
            option(value='Author') Author
          hr.border-primaryLightDull.my-6
          h4.u-fontSize-m.text-Lato-Bold.mb-4
            | Custom Access
          .custom-control.custom-checkbox.my-4
            input#ControlInlineCustomAccess-Lecture.custom-control-input(type='checkbox')
            label.custom-control-label(for='ControlInlineCustomAccess-Lecture')
              | Lecture
          .custom-control.custom-checkbox.my-4
            input#ControlInlineCustomAccess-Coupon.custom-control-input(type='checkbox')
            label.custom-control-label(for='ControlInlineCustomAccess-Coupon')
              | Coupon
          .custom-control.custom-checkbox.my-4
            input#ControlInlineCustomAccess-Message.custom-control-input(type='checkbox')
            label.custom-control-label(for='ControlInlineCustomAccess-Message')
              | Message
          .custom-control.custom-checkbox.my-4
            input#ControlInlineCustomAccess-Setting.custom-control-input(type='checkbox')
            label.custom-control-label(for='ControlInlineCustomAccess-Setting')
              | Setting
          .custom-control.custom-checkbox.mb-8
            input#ControlInlineCustomAccess-TaskMenu.custom-control-input(type='checkbox')
            label.custom-control-label(for='ControlInlineCustomAccess-TaskMenu')
              | Task Menu

      .modal-footer.d-flex.justify-content-end
        a.btn.btn-outline-primary.px-8.mr-4(href="#", data-dismiss='modal')
          | Cancel
        a.btn.btn-primary.px-8(href="#")
          | Add
// /_c-scrollModal-newAdmin-Modal-add-full.jade