// 配合 bootstrap -> utilities -> text 寫法
// https://bootstrap.hexschool.com/docs/4.2/utilities/text/#monospace


/* webFont
-------------------------------------------------- */

.text-RobotoMono-Regular {
  font-family: 'Roboto Mono', -apple-system, BlinkMacSystemFont, 'Microsoft JhengHei', '微軟正黑體', "Segoe UI", monospace, "Apple Color Emoji", "Segoe UI Symbol";
  font-weight: 400 !important;
}
.text-Lato-Regular {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Microsoft JhengHei', '微軟正黑體', "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Symbol";
  font-weight: 400 !important;
}
.text-Lato-Bold {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Microsoft JhengHei', '微軟正黑體', "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Symbol";
  font-weight: 700 !important;
}
/* End of webFont
-------------------------------------------------- */
