//- admin.jade
extends extends/_layoutTemplate.jade

block l-sidebar
  - var path = 'admin.html'
  include ./components/nav/_l-sidebar.jade
  

block mainInner
  include ./components/nav/_c-adminNav.jade
  .col-12
    include ./components/table/_c-adminTable.jade
    include ./components/pagination/_c-pagination.jade
  // .col-12
  include ./components/modal/_c-scrollModal-newAdmin-Modal-add-full.jade
  include ./components/modal/_c-scrollModal-Admin-Modal-edit-full.jade
  include ./components/modal/_c-scrollModal-Admin-Modal-view-full.jade
  