extends extends/_layoutTemplate.jade

block l-sidebar
  - var path = 'assignment.html'
  include ./components/nav/_l-sidebar.jade

block mainInner
  include ./components/nav/_c-assignmentNav.jade
  include ./components/message/_c-messageAssignment.jade
  