<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Material Design Iconic Font - Demo Page
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')
    link(rel="stylesheet", href="assets/css/all.css")
  body
    .container
      a(href="https://zavoloklom.github.io/material-design-iconic-font/index.html", target="_blank") Material Design Iconic Font 文件連結頁面
      a(href="http://", target="_blank") Material Design Iconic Font Icons
      hr
      i.zmdi.zmdi-chart
      i.zmdi.zmdi-comments
      i.zmdi.zmdi-assignment
