<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Material Design Iconic Font - Demo Page
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel="stylesheet", href="assets/css/all.css")
  body
    .container
      h1 首頁
      h2 左側欄
      span.material-icons
        | insert_chart
      span.material-icons
        | forum
      span.material-icons
        | assignment
      span.material-icons
        | video_library
      span.material-icons
        | video_library
      span.material-icons
        | settings

      h2 左側欄
      //- span.material-icons
      //-   | append_more
      span.material-icons
        | expand_more
      span.material-icons
        | search
      span.material-icons
        | notifications_active

      h2 主內容
      span.material-icons
        | more_vert
      span.material-icons
        | star_border
      span.material-icons
        | edit
      span.material-icons
        | attach_file
      span.material-icons
        | chevron_left
      span.material-icons
        | chevron_right

      hr
      h1 Admin頁面
      h2 上方區塊
      span.material-icons
        | add
      h2 主內容
      span.material-icons
        | arrow_downward
      span.material-icons
        | remove_red_eye

      hr
      h1 Edit Admin Modal
      span.material-icons
        | clear
      span.material-icons
        | check_circle

      hr
      h1 New Admin Modal
      span.material-icons
        | warning


