//- index.jade
extends extends/_layoutTemplate.jade

block mainInner
  
  .col-lg-3
    h1 這是 h1 - 24px
  .col-lg-3
    h1.h1 這是 h1.h1 - 24px
  .col-lg-3
    h2 這是 h2 - 20px
  .col-lg-3
    h2.h2 這是 h2.h2 - 20px
  .col-lg-3
    h3 這是 h3 - 16px
  .col-lg-3
    h3.h3 這是 h3.h3 - 16px
  .col-lg-3
    h4 這是 h4 - 14px
  .col-lg-3
    h4.h4 這是 h4.h4 - 14px
  .col-lg-3
    h5 這是 h5 - 12px
  .col-lg-3
    h5.h5 這是 h5.h5 - 12px
  .col-lg-3
    h6 這是 h6 - 10px
  .col-lg-3
    h6.h6 這是 h6.h6 - 10px
  hr.w-100
  .col-12
    h2.h1.mb-0  行內標籤
    p 
      small.mr-3 這是 small - 12px
      span.small 這是 span.small - 12px
    p
      | 使用 mark tag 的 <mark>$table-hover-bg</mark> 變數變更表格 hover 背景色色彩。
  .col-12
    h2.h1.mb-0  基本字級
    p
      span.d-inline-block.u-fontSize-ss.mr-3 .u-fontSize-ss - 12px
      span.d-inline-block.u-fontSize-s.mr-3 .u-fontSize-s - 14px
      span.d-inline-block.u-fontSize-base.mr-3 .u-fontSize-base - 16px (1rem = 16px)
      span.d-inline-block.u-fontSize-m.mr-3 .u-fontSize-m - 20px
      span.d-inline-block.u-fontSize-l.mr-3 .u-fontSize-m - 24px
    h2.h1.mb-0  字型字重設定
    p 
      span.text-RobotoMono-Regular.d-inline-block.mr-3
        | text-RobotoMono-Regular
      span.text-Lato-Regular.d-inline-block.mr-3
        | text-Lato-Regular
      span.text-Lato-Bold.d-inline-block.mr-3
        | text-Lato-Bold
    h2.h1.mb-0  icon-font
    h3.h2.mb-0 
    p.mb-0
      span 左側欄
      span.material-icons
        | insert_chart
      span.material-icons
        | forum
      span.material-icons
        | assignment
      span.material-icons
        | video_library
      span.material-icons
        | people
      span.material-icons
        | settings
    p.mb-0
      span 左側欄
      span.material-icons
        | expand_more
      span.material-icons
        | search
      span.material-icons
        | notifications_active
    p.mb-0 主內容
      span.material-icons
        | more_vert
      span.material-icons
        | star_border
      span.material-icons
        | edit
      span.material-icons
        | attach_file
      span.material-icons
        | chevron_left
      span.material-icons
        | chevron_right
    p.mb-0 Admin頁面
      span.material-icons
        | add
      span.material-icons
        | arrow_downward
      span.material-icons
        | remove_red_eye
    p.mb-0 Main-assignment-reply
      span.material-icons
        | arrow_drop_down
      span.material-icons
        | format_bold
      span.material-icons
        | format_italic
      span.material-icons
        | format_list_bulleted
      span.material-icons
        | format_list_numbered
      span.material-icons
        | insert_photo
      span.material-icons
        | insert_link
      span.material-icons
        | chevron_left
      span.material-icons
        | chevron_right

    p.mb-0 Edit Admin Modal
      span.material-icons
        | clear
      span.material-icons
        | check_circle

    p.mb-0 New Admin Modal
      span.material-icons
        | warning

  hr.w-100
  include ./components/nav/_c-assignmentNav.jade
  include ./components/nav/_c-adminNav.jade
  
  hr.w-100
  include ./components/message/_c-messageAssignment.jade

  hr.w-100
  .col-12
    include ./components/table/_c-adminTable.jade
    include ./components/pagination/_c-pagination.jade
  include ./components/modal/_c-scrollModal-newAdmin-Modal-add-full.jade

