<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title W5-dashboard
    link(rel="stylesheet", href="assets/css/all.css")
  body
    .container-lg
      .row
        .col-lg-6
          h1 這是 h1 - 24px
        .col-lg-6
          h1.h1 這是 h1.h1 - 24px
        .col-lg-6
          h2 這是 h2 - 20px
        .col-lg-6
          h2.h2 這是 h2.h2 - 20px
        .col-lg-6
          h3 這是 h3 - 16px
        .col-lg-6
          h3.h3 這是 h3.h3 - 16px
        .col-lg-6
          h4 這是 h4 - 14px
        .col-lg-6
          h4.h4 這是 h4.h4 - 14px
        .col-lg-6
          h5 這是 h5 - 12px
        .col-lg-6
          h5.h5 這是 h5.h5 - 12px
        .col-lg-6
          h6 這是 h6 - 10px
        .col-lg-6
          h6.h6 這是 h6.h6 - 10px
      p 基本字級 1rem = 16px
      p  字型字重設定
        br
        span.text-RobotoMono-Regular text-RobotoMono-Regular
        br
        span.text-Lato-Regular text-Lato-Regular
        br
        span.text-Lato-Bold text-Lato-Bold
      p
        small 這是 small - 12px
      table.table
        thead
          tr
            th(scope='col') #
            th(scope='col') First
            th(scope='col') Last
            th(scope='col') Handle
        tbody
          tr
            th(scope='row') 1
            td Mark
            td Otto
            td @mdo
          tr
            th(scope='row') 2
            td Jacob
            td Thornton
            td @fat
          tr
            th(scope='row') 3
            td Larry
            td the Bird
            td @twitter

      // Button trigger modal
      button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModalCenter')
        | Launch demo modal
      // Modal
      #exampleModalCenter.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
          .modal-content
            .modal-header
              h5#exampleModalCenterTitle.modal-title Modal title
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              | ...
            .modal-footer
              button.btn.btn-outline-primary(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='button') Save changes

      script(src="assets/js/allVendors.js?#{new Date().getTime()}")
      script(src="assets/js/all.js?#{new Date().getTime()}")

