.c-table {
  margin-bottom: 64px;
  th, td {
    line-height: 19px;
    vertical-align: middle;
  }
  th {
    padding-top: 0px;
    white-space: nowrap;
    &:nth-child(1) {
      width: 13%;
      // min-width: 25px;
      // max-width: 110px;
    }
    &:nth-child(3) {
      width: 35%;
    }
    &:nth-child(4) {
      width: 27%;
    }
  }

  thead th {
    border-top-color: transparent;
    padding-bottom: 4px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }

  tbody td {
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

.c-tableThStatus {
  &__text {
    vertical-align: middle;
  }
  &__icon {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 8px;
  }
}

.c-tableTdFeature {
  // display: flex;
  // align-items: center;
  &__text {
    display: inline-block;
    vertical-align: middle;
    margin-right: auto;
  }
  &__btns {
    float: right;
    &__btn {
      color: #000;
      display: inline-block;
      padding-left: 12px;
      padding-right: 12px;
      &:last-child {
        padding-right: 0;
      }
    }
  }
  &Icon {
    width: 24px;
    vertical-align: middle;
  }
}