
/* u-font
-------------------------------------------------- */
/*----------  fontSize  ----------*/
// 12, 14, 16, 20, 24,
.u-fontSize {
  &-ss {
    font-size: 12px;
  }
  &-s {
    font-size: 14px;
  }
  &-base {
    font-size: 16px;
  }
  &-m {
    font-size: 20px;
  }
  &-l {
    font-size: 24px;
  }
}
/*----------  /fontSize  ----------*/
/*----------  字重/字租  ----------*/
// .u-fontWeight-bold{
//   font-weight: bold;
// }
// .u-fontWeight-500{
//   font-weight: 500;
// }
// .u-fontWeight-400{
//   font-weight: 400;
// }
// .u-fontWeight-300{
//   font-weight: 300;
// }
/*----------  /字重/字租  ----------*/
/*----------  斜體、傾斜等字體樣式  ----------*/
// .u-fontStyle-italic{
//   font-style: italic;
// }
/*----------  /斜體、傾斜等字體樣式  ----------*/
/*----------  英文字元的大小寫  ----------*/
// // 定義所有字母均為大寫
// .textTransform--uppercase{
//   text-transform: uppercase;
// }
// // 定義所有字母均為小寫
// .textTransform--lowercase{
//   text-transform: lowercase;
// }
// // 定義單字的第一個字母大寫，其他字母小寫
// .textTransform--capitalize{
//   text-transform: capitalize;
// }
/*----------  /英文字元的大小寫  ----------*/

/* End of u-font
-------------------------------------------------- */
