
.u-listStyle {
  // 資料來源：https://www.1keydata.com/css-tutorial/tw/list.php
  // disc (全黑圓圈)
  // circle (空心圓圈)
  // square (正方形) 
  &-disc {
    list-style-type: disc;
  }
  &-circle {
    list-style-type: circle;
  }
  &-square {
    list-style-type: square;
  }

  // list-style-position
  &-inside {
    list-style-position: inside;
  }
  &-outside {
    list-style-position: outside;
  }
}
