// _c-adminNav.jade
nav.col-12.c-featureBar.mb-12
  .c-featureBar__name.text-Lato-Bold 
    | Admin
  a.c-featureBar__mainBtn.text-decoration-none(href="#", title="Add New Admin", data-toggle='modal', data-target='#scrollableModal')
    span.material-icons.text-primary.mr-2
      | add
    span.c-featureBar__mainBtn__text.text-Lato-Bold.text-black
      | Add New Admin
  ul.c-featureBar__btnList.text-decoration-none
    li.c-featureBar__btnList__item.mr-6
      a.material-icons.text-black.text-decoration-none(href="#", title='click to search page')
        | search
    li.c-featureBar__btnList__item
      a.material-icons.text-black.text-decoration-none(href="#", title='click look notifications list')
        | notifications_active
// /_c-adminNav.jade