// _c-pagination.jade
nav(aria-label='Page navigation')
  ul.pagination.justify-content-end.mb-0
    li.page-item
      a.page-link.border-primary(href='#', aria-label='Previous')
        span.material-icons
          | chevron_left
    li.page-item.active
      a.page-link.border-primary(href='#') 1
    li.page-item
      a.page-link.border-primary(href='#') 2
    li.page-item
      a.page-link.border-primary(href='#') 3
    li.page-item
      a.page-link.border-primary(href='#', aria-label='Next')
        span.material-icons
          | chevron_right
// /_c-pagination.jade